<nav class="navigation">
  <ul class="navigation__list">
    <li
      class="navigation__item"
      routerLinkActive="navigation__active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/events">
        <div class="icon-bg"></div>
        <img src="assets/nav/nav1.svg" alt="" />
      </a>
    </li>

    <li
      class="navigation__item"
      routerLinkActive="navigation__active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/vk_dobro">
        <div class="icon-bg"></div>
        <img src="assets/nav/nav2.svg" alt="" />
      </a>
    </li>

    <li
      class="navigation__item"
      routerLinkActive="navigation__active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/history">
        <div class="icon-bg"></div>
        <img src="assets/nav/nav3.svg" alt="" />
      </a>
    </li>

    <li
      class="navigation__item"
      routerLinkActive="navigation__active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/profile">
        <div class="icon-bg"></div>
        <img src="assets/nav/nav4.svg" alt="" />
      </a>
    </li>
  </ul>
</nav>
