<div class="history">
  <div class="container">
    <div class="title title__blue">Мои мероприятия</div>
    <div
      class="event__button event__button__top"
      *ngIf="role === 'organizer' && !showNewEventForm"
      (click)="openNewEventForm()"
    >
      <img src="assets/icons/date.svg" alt="" />
      <div>Организовать мероприятие</div>
    </div>
    <div class="block history__top event__block" *ngIf="showNewEventForm">
      <div class="block event__block block__white">
        <div class="block__top">Название</div>
        <input
          type="text"
          [(ngModel)]="newEvent.name"
          placeholder="Субботник в парке"
        />
      </div>

      <div class="block event__block block__white">
        <div class="block__top">Место проведения</div>
        <input
          type="text"
          [(ngModel)]="newEvent.location"
          placeholder="ул. Пушкина"
        />
      </div>

      <div class="event__item__2">
        <div class="block event__block block__white">
          <div class="block__top">Дата</div>
          <input
            type="date"
            [(ngModel)]="newEvent.date"
            placeholder="ГГГГ-ММ-ДД"
          />
        </div>
        <div class="block event__block block__white">
          <div class="block__top">Время</div>
          <input type="time" [(ngModel)]="newEvent.time" placeholder="ЧЧ:ММ" />
        </div>
      </div>

      <div class="block event__block block__white">
        <div class="block__top">Нужно средств</div>
        <input
          type="number"
          [(ngModel)]="newEvent.goalAmount"
          placeholder="1000"
        />
      </div>

      <div class="block event__block block__white">
        <div class="block__top">Описание</div>
        <textarea
          rows="3"
          [(ngModel)]="newEvent.description"
          placeholder="Посадим деревья, как раз самое время, и почистим сам парк от мусора"
        ></textarea>
      </div>

      <div class="event__buttons">
        <div class="event__button" (click)="createEvent()">Организовать</div>
        <div class="event__button" (click)="cancelEvent()">Отмена</div>
      </div>
    </div>
    <div class="comment__title history__title">Предстоящие мероприятия:</div>
    <div
      class="block event__block"
      *ngFor="let event of events"
      (click)="toggleArrow(event)"
    >
      <div class="event__top">
        <div class="events__name">{{ event.name }}</div>
        <div class="events__img" [class.rotated]="event.isOpen">
          <img src="/assets/icons/arrow.svg" alt="" />
        </div>
      </div>

      <div class="event__info">
        <div class="event__item">
          <div class="event__icon">
            <img src="/assets/block/adress.svg" alt="" />
          </div>
          <div>{{ event.location }}</div>
        </div>

        <div class="event__item__2">
          <div class="event__item">
            <div class="event__icon">
              <img src="/assets/block/time.svg" alt="" />
            </div>
            <div>Дата: {{ event.date }}</div>
          </div>

          <div class="event__item" *ngIf="event.isOpen">
            <div class="event__icon">
              <img src="/assets/block/time.svg" alt="" />
            </div>
            <div>Время {{ event.time }}</div>
          </div>

          <div class="event__item" *ngIf="!event.isOpen">
            <div class="event__icon">
              <img src="/assets/block/people.svg" alt="" />
            </div>
            <div>{{ event.volunteers }} волонтеров</div>
          </div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/people.svg" alt="" />
          </div>
          <div>{{ event.volunteers }} волонтеров уже откликнулось</div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/rubles.svg" alt="" />
          </div>
          <div>
            Сбор средств: {{ event.currentAmount }} руб. из {{ event.goalAmount
            }} руб. Пожертвовать.(ссылка)
          </div>
        </div>

        <div>
          <div class="event__donation" *ngIf="!event.isOpen">
            Собрано {{ event.currentAmount }}/{{ event.goalAmount }} руб.
          </div>
          <div class="event__progressbar">
            <div
              class="event__progressbar-fill"
              [style.width.%]="progress(event)"
            ></div>
          </div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/description.svg" alt="" />
          </div>
          <div>Описание: {{ event.description }}</div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/org.svg" alt="" />
          </div>
          <div>Организатор: <a href="">{{ event.organizer }}</a></div>
        </div>
      </div>
      <div
        class="event__button"
        *ngIf="event.isOpen && role === 'volunteer'"
        (click)="removeFromEvents(event)"
      >
        Отказаться
      </div>
      <div
        class="event__button event__button__block"
        *ngIf="event.isOpen && role === 'organizer'"
        (click)="$event.stopPropagation()"
      >
        <div class="block__title">Волонтеры</div>
        <div class="block block__people" *ngFor="let v of event.volunteerList">
          <div class="block__name">{{ v.name_user }}</div>

          <div class="block__stars">
            <img
              *ngFor="let star of [].constructor(5); let i = index"
              [src]="i < v.rating ? 'assets/icons/miniStarFull.svg' : 'assets/icons/miniStarEmpty.svg'"
              alt="*"
              class="star"
            />
          </div>

          <div class="block__close" (click)="removeVolunteer(event, v)">
            <img src="assets/icons/close.svg" alt="удалить" />
          </div>
        </div>
      </div>

      <div
        class="event__button"
        *ngIf="event.isOpen && role === 'organizer'"
        (click)="finishEvent(event)"
      >
        Завершить
      </div>
    </div>
    <div class="comment__title history__title">История мероприятия:</div>
    <div class="block event__block" *ngFor="let event of historyEvents">
      <div class="event__top">
        <div class="events__name">{{ event.name }}</div>
        <div class="events__img" [class.rotated]="event.isOpen">
          <img src="/assets/icons/arrow.svg" alt="" />
        </div>
      </div>

      <div class="event__info" (click)="toggleArrow(event)">
        <div class="event__item">
          <div class="event__icon">
            <img src="/assets/block/adress.svg" alt="" />
          </div>
          <div>{{ event.location }}</div>
        </div>

        <div class="event__item__2">
          <div class="event__item">
            <div class="event__icon">
              <img src="/assets/block/time.svg" alt="" />
            </div>
            <div>Дата: {{ event.date }}</div>
          </div>

          <div class="event__item" *ngIf="event.isOpen">
            <div class="event__icon">
              <img src="/assets/block/time.svg" alt="" />
            </div>
            <div>Время {{ event.time }}</div>
          </div>

          <div class="event__item" *ngIf="!event.isOpen">
            <div class="event__icon">
              <img src="/assets/block/people.svg" alt="" />
            </div>
            <div>{{ event.volunteers }} волонтеров</div>
          </div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/people.svg" alt="" />
          </div>
          <div>{{ event.volunteers }} волонтеров уже откликнулось</div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/rubles.svg" alt="" />
          </div>
          <div>
            Сбор средств: {{ event.currentAmount }} руб. из {{ event.goalAmount
            }} руб. Пожертвовать.(ссылка)
          </div>
        </div>

        <div>
          <div class="event__donation" *ngIf="!event.isOpen">
            Собрано {{ event.currentAmount }}/{{ event.goalAmount }} руб.
          </div>
          <div class="event__progressbar">
            <div
              class="event__progressbar-fill"
              [style.width.%]="progress(event)"
            ></div>
          </div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/description.svg" alt="" />
          </div>
          <div>Описание: {{ event.description }}</div>
        </div>

        <div class="event__item" *ngIf="event.isOpen">
          <div class="event__icon">
            <img src="/assets/block/org.svg" alt="" />
          </div>
          <div>Организатор: <a href="">{{ event.organizer }}</a></div>
        </div>
      </div>
    </div>
    <div class="history__bottom"></div>
    <app-navigation></app-navigation>
  </div>
</div>
