@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #000;
}

:root {
  --primary: #2687ff;
  --block-bg: #f2f3f5;
  --white: #ffffff;
  --black: #000000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 14px;
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.block {
  background-color: var(--block-bg);
  border-radius: 13px;
  padding: 12px;
  margin-bottom: 10px;

  &__name {
    color: #000;
    font-size: 14px;
    flex: 1;
  }

  &__margin {
    margin-top: 15px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__stars {
    flex: 1;
  }

  &__people {
    display: flex;
    text-align: left;
  }

  &__top {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 2px;
  }

  &__white {
    background-color: #fff;

    input {
      background: var(--white);
    }
  }

  textarea {
    background: var(--white);
  }
}

.event__block {
  border: 1px solid var(--primary);
  padding: 8px 15px;
  margin-top: 10px;

  .event__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
    overflow: visible;
  }

  .event__info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .event__item {
    display: flex;
    gap: 7px;
    align-items: center;
    flex: 1;

    a {
      color: var(--primary);
      text-decoration: none;
    }
  }

  .event__item__2 {
    display: flex;
  }

  .events__img.rotated {
    transform: rotate(180deg);
  }

  .events__img {
    transition: transform 0.4s ease;
  }

  .event__icon {
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .event__donation {
    text-align: center;
    font-size: 12px;
  }

  .event__progressbar {
    margin-top: 4px;
    border-radius: 3px;
    height: 6px;
    width: 100%;
    background-color: #a9a9a9;
    overflow: hidden;
  }

  .event__progressbar-fill {
    height: 100%;
    background-color: var(--primary);
    transition: width 0.4s ease;
    border-radius: 3px;
  }

  .event__photo {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    margin: 0 -15px;
    padding-left: 15px;
    padding-right: 15px;
    scroll-behavior: smooth;

    scrollbar-color: var(--primary) transparent;
    scrollbar-width: thin;
    margin-bottom: 10px;
  }

  .event__photo::-webkit-scrollbar {
    height: 6px;
  }

  .event__photo::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 4px;
  }

  .event__jpg {
    flex: 0 0 auto;
  }

  .event__jpg img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    display: block;
  }
}

.event__button {
  margin-top: 6px;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  padding: 12px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  gap: 8px;

  &__top {
    margin-top: 20px;
    padding: 16px;

    img {
      filter: brightness(0) invert(1);
    }
  }

  &__block {
    display: block;
  }
}

.input__block {
  border: 1px solid var(--primary);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 8px 15px;
  margin-top: 20px;

  .input__search {
    background-color: var(--primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  background: var(--block-bg);
  color: #333;
  flex: 1;
  font-size: 14px;
  resize: none;
  height: auto;
  overflow-wrap: break-word;
  font-family: "Inter", sans-serif;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background: var(--block-bg);
  color: #333;
  flex: 1;
  font-size: 14px;
}

input::placeholder {
  color: #999;
}

.history {
  &__title {
    margin-top: 15px;
  }

  &__bottom {
    margin-bottom: 80px;
  }

  &__top {
    margin-top: 15px;

    .event__item__2 {
      margin-top: -10px;
      gap: 10px;
    }
  }
}

.vk {
  .event__top {
    margin-bottom: 4px;
  }

  .event__progressbar {
    margin-bottom: 6px;
  }

  a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
  }

  &__bottom {
    margin-bottom: 80px;
  }

  .event__item {
    margin-top: 6px;
    margin-bottom: 10px;
  }

  .event__span {
    color: var(--primary);
    font-weight: 600;
  }
}

.event__button.disabled {
  background: #aaa;
  pointer-events: none;
}

.comment__title {
  margin-left: 15px;
  font-weight: 600;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
}

.title__blue {
  color: var(--primary);
}
