.welcome {
  position: relative;
  height: 100vh;
  &__top {
    img {
      width: 100vw;
    }
  }
  &__logo {
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 70vw;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
  }

  &__bottom {
    position: relative;
    img {
      position: fixed;
      bottom: -5px;
      width: 100vw;
    }
  }
  .welcome__text {
    position: absolute;
    bottom: 50px;
    width: 70vw;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
    font-size: 14px;
  }

  &__buttons {
    margin: 60px 20px 0;
  }

  &__role {
    font-size: 16px;
    text-align: center;
  }

  .event__button {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
  }
}
